Source: blocksds-sdk
Maintainer: David Guillen Fandos <david@davidgf.net>
Section: misc
Priority: optional
Standards-Version: 1.5.0
Build-Depends: debhelper-compat (= 13), libgmp-dev, libmpfr-dev, libmpc-dev, bison, xz-utils, make, tar, ninja-build, libisl-dev, meson, texinfo

Package: blocksds-sdk
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: BlocksDS SDK and toolchain.
